




.nav-link {
  color: white;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active,
.nav-link.show {
  color: #d9d9d9 !important;
}



.nav-item-custom {
  background-color: white;
  color: #f03712 !important;
  padding: 0.375rem 1.25rem;
  /* aumenta a largura */
  border: 1px solid #f03712;
  border-radius: 18px;
  transition: background-color 0.2s, color 0.2s;

  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  height: 100%;
  min-width: 150px;
  /* novo */
}

.nav-item-custom:hover {
  background-color: rgb(146, 137, 137);
  color: white !important;
}


.bg-menu {
  background: #f03712 !important;
}

.btn-remove-cart {
    background: transparent;
    color: #dc3545;
    border: 1px solid #dc3545;
    padding: 1px 6px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.7rem;
    margin-left: 10px;
    transition: all 0.2s ease;
}

.btn-remove-cart:hover {
    background: #dc3545;
    color: white;
}

.btn-remove-cart:active {
    transform: scale(0.95);   /* Encolhe ao clicar (feedback visual) */
}

.dropdown-menu {
    right: 0 !important;
    left: auto !important;
    max-width: 350px;
}

.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover {
    background-color: transparent !important;
    color: inherit !important;
}

.dropdown-item-cart {
  color: black;
}



