
.card-informacoes {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  margin: 4rem auto;
  border-radius: 20px;
  overflow: hidden;
  background-color: #ffffff;
}

.card-topo {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-topo img {
  width: 50%;
  height: auto;
  object-fit: cover;
  display: block;
  border-radius: 20px 0 0 20px; /* apenas a esquerda */
}

.card-texto {
  width: 50%;
  padding: 2rem;
  background-color: #F2F2F2;
  color: black;
  font-size: 1rem;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  border-radius: 0 20px 20px 0;
}

@media (max-width: 768px) {
  .card-topo {
    flex-direction: column;
  }

  .card-topo img,
  .card-texto {
    width: 100%;
    border-radius: 0;
  }

  .card-texto {
    border-radius: 0 0 20px 20px;
  }
}

/* .card-video {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  border-radius: 0 0 20px 20px;
} */

