.lista-cards {
  display: flex;
  flex-direction: column; /* permite usar Bootstrap por dentro */
  gap: 1rem;
  padding: 1rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Remove regras ultrapassadas de li */
.lista-cards li {
  margin: 0;
  padding: 0;
}

/* card base do Bootstrap */
.card {
  border: 2px solid #FF2B00;
  border-radius: 8px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  margin: 0 auto; 
}

.card-custom {
  width: 100%;
  max-width: 320px;
  min-height: 100px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* detalhes escondidos */
.detalhes {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.3s ease;
  opacity: 0;
  padding: 0 1rem;
}

/* ao abrir */
.card.aberto .detalhes {
  max-height: 200px;
  opacity: 1;
  margin-top: 1rem;
}

/* Centralizar o título */
.titulo-card {
  text-align: center;
  margin: 1rem auto 0.5rem auto;
  font-size: 1.1rem;
  font-weight: 600;
}

/* Botão fixo na base do card */
.botao-imagem {
  background-color: #FF2B00;
  border: none;
  padding: 0.2rem 0; /* reduz altura do botão */
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-top: 2px solid #5a9bfc; */
  transition: background-color 0.2s ease;
  /* border-radius: 0 0 12px 12px;  */
  margin-top: auto;
}

.botao-imagem.hover-simulado {
  background-color: #f14d3e;
}

.botao-imagem img {
  width: 18px;
  height: auto;
  transition: transform 0.3s ease;
}

.card.aberto .botao-imagem img {
  transform: rotate(180deg);
}

/* responsividade */
@media (max-width: 576px) {
  .card-custom {
    max-width: 60%;
    margin: 0 auto; 
  }
}
